.container{
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 3em;
    padding: 2em;
}

.addGameTitle{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.dateTitle, .homeNameTitle, .awayNameTitle, .homeScoreTitle, .awayScoreTitle{
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1em;
}

.dateContainer{
    display: flex;
    justify-content: center;
}

.teamsContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}


.homeName{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    flex: 1;
}

.vs{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    flex: 1;
}

.awayName{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 2rem;
}

.scoreContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1em;
}

.homeScore{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}

.awayScore{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.addGameButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.addButton{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.addButton:hover{
    scale: 1.5;
}