.deleteButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.deleteButton{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}