.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 6rem;
}

.dateContainer {
    color: #999;
    margin: 2em;
}

.date{
    font-size: 1.8rem;
    text-align: center;
}

.gameContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.homeName, .awayName {
    font-size: 2em;
    white-space: nowrap; 
}

.gameScore{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 1.5em;
    color:#aeaaaa;
    font-weight: bold;
    margin: 0.5em;
    flex-shrink: 0;
}


